/*Добавляет глобальный border-box*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/*Вводит переменные*/
:root {
  --light-background-color: #f5f4fa;
  --primary-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --total-black: #000000;
  --total-white: #ffffff;
  --svg-color: #afb1b8;
}
/* Добавляет шрифт Roboto всей странице*/
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  background-color: var(--total-white);
}
.container,
.hero-container,
.footer-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.hero-content {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

/* !!!!!!!       ВРЕМЕННЫЙ АУТЛАЙН НА КОНТЕЙНЕР !!!!!!!!!!!!!! */
/* .container {
  outline: 2px solid tomato;
}
h1,
h2,
h3,
h4,
h5,
ul li {
  outline: 2px solid teal;
} */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Убирает подчеркивание со всех ссылок на странице*/
a {
  text-decoration: none;
}
/*Убирает буллетпоинты со списков страницы, обнуляет поля и отступы*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*Убирает курсив в адресе*/
address {
  font-style: normal;
}
.main-nav {
  display: flex;
  align-items: center;
}
.contact-list {
  margin-left: auto;
}
/*Присваивает шрифт логотипу и базовые свойства шрифта*/
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

/*Присваивает цвет слову Web из логотипа*/
.logo-web {
  color: var(--accent-color);
}
/*Присваивает цвет слову Studio из логотипа в шапке страницы*/
.logo-studio-header {
  color: var(--total-black);
}
/*Присваивает цвет слову Studio из логотипа в подвале страницы*/
.logo-studio-footer {
  color: var(--total-white);
}
.menu-list {
  display: flex;
  margin-left: 85px;
}
/* По олдскульным стопам Саши Репеты */
.menu-list .item + .item {
  margin-left: 50px;
}
/* Современная версия оформления навигации */
/* .menu-list .item:not(:last-child) {
  margin-right: 50px;
} */
/*Присваивает шрифт ссылкам меню в шапке и базовые свойства шрифта*/
.menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primary-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list .menu-link.current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--accent-color);
}

.menu-list > li {
  position: relative;
}
.menu-list .menu-link.current::after {
  position: absolute;
  content: "";
  display: block;
  padding: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/*Присваивает шрифт ссылкам контактов в шапке и базовые свойства шрифта*/
.menu-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--secondary-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icon {
  vertical-align: middle;
  margin-right: 11px;
  fill: currentColor;
}
.menu-link:hover,
.menu-link:focus,
.menu-contact-link:hover,
.menu-contact-link:focus {
  color: var(--accent-color);
}

.contact-list {
  display: flex;
}
.contact-list .item + .item {
  margin-left: 30px;
}
/*Добавляет фон в подвале страницы*/
.page-footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
}
.footer-container > div:not(:last-child) {
  /* background-color: green; */
  width: calc((50% - 45px) / 2);
  margin-right: 30px;
}
.footer-container > div:last-child {
  /* background-color: orange; */
  width: calc(50% - 15px);
}
.logo-address {
  display: block;
}
.address {
  margin-top: 14px;
}
/*Стилизирует адрес студии в подвале страницы*/
.address-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--total-white);
}
/*Стилизирует контакты студии в подвале страницы*/
.address-contact > a {
  display: block;
  margin-top: 9px;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*Стилизирует призыв к действию в подвале страницы*/
.join-title,
.subscribe-title {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--total-white);
}
.join-us,
.subscribe {
  align-items: baseline;
}

.footer > div:last-child {
  width: calc(50% - 15px);
}

/* Стилизирует соцсети Студии в подвале страницы */
.join-socials {
  display: flex;
  align-items: baseline;
}
.join-socials-item:not(:last-child) {
  margin-right: 10px;
}
.join-socials-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--total-white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-socials-link:hover,
.join-socials-link:focus {
  color: var(--total-white);
  background-color: var(--accent-color);
}
.join-socials-link:active {
  color: var(--total-white);
}

.join-socials .social-icon {
  fill: currentColor;
}
/* Часть с формой подписки в футере */
.form-wrap {
  display: flex;
  justify-content: space-between;
}
.email-field {
  display: inline-block;
  outline: none;

  min-width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: transparent;

  font-size: 16px;
  color: var(--total-white);

  transition-property: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-field::placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.email-field:hover,
.email-field:focus,
.email-field:not(:placeholder-shown) {
  border-color: var(--accent-color);
}

.subscribe-button {
  padding: 0;
  margin: 0;
  width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--total-white);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send {
  vertical-align: middle;

  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--total-white);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:hover .icon-send {
  color: var(--accent-color);
  background-color: var(--total-white);
  /* border: 1px solid var(--total-white); */
}

.subscribe-button:hover .icon-send {
  fill: var(--accent-color);
}
